#appBar {
  height: 88px;
}

#nav {
    
    width: 80%;
}

#left {
  width: 20%;
}

#logo {
  width: 40px;
  height: 40px;
  background: linear-gradient(90deg, #2979ff 0%, #4c589e 100%);
  border-radius: 6px;
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  /* or 112% */

  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  
}

#search {
  border-radius: 99px;
  background: #ededf0;
}
